<div class="team">
  <h3>Name: <%= @team_name %></h3><br>
  <h3>Team Motto: <%= @team_motto %></h3><br>
</div>



    <% @team_heros.each_with_index do |key, i| %>
    <div class="hero">
      <h3>Hero Name: <%= @hero_name[i] %> </h3>
      <h4>Hero Power: <%= @hero_power[i] %> </h4>
      <h4>Hero Biography: <%= @hero_bio[i] %> </h4>

    <% end %>
